
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/e0730baa7b5aaa47c37003b799b7c972bd8a82f3/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/e0730baa7b5aaa47c37003b799b7c972bd8a82f3/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


