body {
  background: url('/static/sproutcore/iphone_theme/en/1343f9c45c200b44ff4a237c40426b555e974878/source/images/pinstripes.png') repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}